spec:
  template:
    metadata:
      annotations:
      {{- if .Values.integrationType }}
      {{- include "memcached-exporter.sysdigAnnotations" . | nindent 8 }}
      {{ else }}
      {{- include "memcached-exporter.prometheusAnnotations" . | nindent 8 }}
      {{- end }}
      {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        {{- if not .Values.ubi }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        {{- end }}
        {{- if .Values.ubi }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}-ubi"
        {{- end }} 
        {{- if ne .Values.url.name ""}}
        command:
        - memcached_exporter
        - --memcached.address={{ .Values.url.name }}:11211
        {{- end }}       
        ports:
          - containerPort: {{ .Values.port }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}