apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "elasticsearch-exporter.exporterDeploymentName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "elasticsearch-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "elasticsearch-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- include "elasticsearch-exporter.sysdigAnnotations" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "elasticsearch-exporter.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if not .Values.ubi }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- end }}
          {{- if .Values.ubi }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}-ubi"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command:
          - elasticsearch_exporter
          - --es.all
          - --es.indices
          - --es.indices_settings
          - --es.shards
          - --es.snapshots
          - --es.cluster_settings
          - --es.timeout=60s
          - --es.ssl-skip-verify
          - --web.listen-address=:9108
          - --web.telemetry-path=/metrics
          env:
          {{- if eq .Values.url.http "http" }}
            - name: ES_URI
              value: {{ .Values.url.http }}://{{ .Values.url.name }}:{{ .Values.url.port }}
          {{ end }}
          {{- if eq .Values.url.http "https" }}
            - name: ES_URI
              value: {{ .Values.url.http }}://$(ELASTIC_USER):$(ELASTICSEARCH_ADMIN_PASSWORD)@{{ .Values.url.name }}:{{ .Values.url.port }}
            - name: ELASTIC_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: {{ .Values.secretName }}
            - name: ELASTICSEARCH_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: {{ .Values.secretName }}
          {{ end }}
          lifecycle:
            preStop:
              exec:
                command:
                - /bin/bash
                - -c
                - sleep 20
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: http
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          {{- if .Values.tlsmode }}
          volumeMounts:
          - mountPath: /usr/share/elasticsearch/config/certs/
            name: elasticsearch-tls-certs
          {{ end }}
          ports:
          - containerPort: 9108
            name: http
            protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: http
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          securityContext:
              {{- toYaml .Values.securityContext | nindent 12 }}
      {{- if .Values.tlsmode }}
      volumes:
      - name: elasticsearch-tls-certs
        secret:
          defaultMode: 256
          secretName: {{ .Values.secretName }}
      {{ end }}
