replicaCount: 1

image:
  repository: quay.io/sysdig/elasticsearch-exporter
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.3.23"
  pullPolicy: "IfNotPresent"

securityContext:
  capabilities:
    drop:
    - SETPCAP
    - MKNOD
    - AUDIT_WRITE
    - CHOWN
    - NET_RAW
    - DAC_OVERRIDE
    - FOWNER
    - FSETID
    - KILL
    - SETGID
    - SETUID
    - NET_BIND_SERVICE
    - SYS_CHROOT
    - SETFCAP
  readOnlyRootFilesystem: true

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 2.0
    memory: 1Gi
  requests:
    cpu: 1.0
    memory: 500Mi

url:
  http: http
  name: elasticsearch
  port: 9200
  usernameKey: username
  passwordKey: password
  secretName:
secretTLS: elastic-tls-secret
tlsmode: false
eck:
  enabled: "false"
  cluster:
    name: "elasticsearch"
    nodeSet: "default"

namespaceName: "logging"
# The namespace of the application that the exporter will connect to in order to generate metrics
workloadType: "statefulset"
# The kubernetes workload type of the application the exporter will connect to.
# Possible values: deployment, statefulset, daemonset, pod
workloadName: "elasticsearch"
# The name of the workload of the application that the exporter will connect to.
exporterNamespaceName:
# The namespace where the exporter will be deployed (only used by Sysdig)

ubi: false

exporter:
  port: 9108
