replicaCount: 1

image:
  repository: quay.io/sysdig/kafka-exporter
  tag: "v1.5.0"


resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi


kafkaServer:
  - kafka-service:9092

# Specifies broker version to use, leave empty for default
kafkaBrokerVersion:

# Specifies log verbosity
verbosity: 0

# Sarama logging
sarama:
  logEnabled: false

env: []
# - name: <ENV_VAR_NAME>
#   value: <value>

# List of additional cli arguments to configure kafka-exporter
# for example: --log.enable-sarama, --log.level=debug, etc.
# all the possible args can be found here: https://github.com/danielqsj/kafka_exporter#flags
extraArgs: []

# this allows the usage of tls connection to your kafka cluster based on a secret in tls format
# mandatory keys:
# ca.crt
# tls.crt
# tls.key
tls:
  enabled: false
  insecureSkipVerify: false
  # The kafka server's name. Used to verify the hostname on the returned certificates unless tls.insecureSkipVerify is set to true.
  serverName: ""
  mountPath: /secret/client/certs
  # secretName: <name of an existing secret>

sasl:
  enabled: false
  handshake: true
  scram:
    enabled: false
    # mechanism: <plain|scram-sha512|scram-sha256>

    # add username and password
    # username:
    # password:

    # or use an existing secret
    # secretName: <name of an existing secret>

  kerberos:
    enabled: false
    # serviceName:
    # realm:
    # kerberosAuthType: <keytabAuth|userAuth>
    mountPath: /secret/kerberos
    # secretName: <name of an existing secret>

# This enables TLS for web server
server:
  tls:
    enabled: false
    mutualAuthEnabled: false
    mountPath: /secret/server/certs
  # secretName: <name of an existing secret>



# The namespace of the application that the exporter will connect to in order to generate metrics
namespaceName: "kafka"

# The kubernetes workload type of the application the exporter will connect to. 
# Possible values: deployment, statefulset, daemonset, pod
workloadType: "statefulset"

# The name of the workload of the application that the exporter will connect to.
workloadName: "kafka"

# The namespace where the exporter will be deployed
exporterNamespaceName: "kafka"

integrationType: "kafka"

ubi: false