image:
  repository: quay.io/sysdig/promcat-jmx-exporter
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.0.11"

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 64m
    memory: 64Mi

ubi: false

port: 5556

jmx_port: 9010

sysdigAnnotations: false
# This value is only set to true for Sysdig annotations

# The type of integration (a 'bundled' one, or "custom")
integrationType: ""

# In case of "custom" integration, the name of the integration
customIntegrationTypeName: ""

# Custom name for the JMX configurations configmap
customJMXConfigMapName: ""

onlyCreateJMXConfigMap: false
onlyCreateSidecarPatch: false

configFileLocation: /opt/jmx_exporter/config.yaml
